<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="configFragment">
    <head>
        <meta charset="UTF-8">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- css -->
        <link th:href="@{/css/global.css}" rel="stylesheet">
        <link th:href="@{/css/sign.css}" rel="stylesheet">
        <link th:href="@{/css/nav.css}" rel="stylesheet">
        <link th:href="@{/css/chat.css}" rel="stylesheet">
        <link th:href="@{/css/notification.css}" rel="stylesheet">

        <!-- google fonts icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" />

        <!-- js -->
        <script type="text/javascript" th:src="@{/js/actions.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    </head>
</th:block>
</html>