.create-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}
.title-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    margin: 20px 0 56px 0;
}
.inputs-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}
.btns-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.btn-form {
    width: 300px;
}
.search-bar, .send-wrap {
    border: 1px solid var(--light-gray-color);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.search-input, .chat-input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: var(--dark-gray-color);
    line-height: 1.2;
    padding: 0 12px 0 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.chat-input {
    padding: 8px 12px 8px 12px;
    resize: none;
    overflow: hidden;
}
.btn-search, .btn-send {
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
    height: 40px;
    display: inline-flex;
}
.wrap-list {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    &:hover {
        background: var(--lighter-gray-color);
    }
    &:not(.discover) {
        cursor: pointer;
    }
}
.list-title {
    font-weight: 600;
}
.list-description {
    font-size: 14px;
    color: var(--medium-gray-color);
}
.list-user-count {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.list-user-count p {
    font-size: 14px;
    color: var(--medium-gray-color);
}
.empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
}
.right-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.chat-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    overflow-y: auto;
    > div {
        padding: 8px;
    }
}
.system-message {
    text-align: center;
    background: var(--lighter-gray-color);
    border-radius: 8px;
}
.chat-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4px;
    align-items: center;
}
#file {
    display: none;
}
.btn-upload {
    border-radius: 8px;
    border: 1px solid var(--medium-gray-color);
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    &:hover {
        background: var(--lighter-gray-color);
    }
}
.img-message {
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.wrap-message {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.sender-nickname {
    font-weight: 600;
}
.meta-message {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}
.sent-at {
    color: var(--medium-gray-color);
    font-size: 12px;
}