* {
    font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
:root {
    --primary-color: #0081A7;
    --primary-color-darker: #006280;
    --dark-gray-color: #26262C;
    --medium-gray-color: #4C4C57;
    --light-gray-color: #B8B8C1;
    --lighter-gray-color: #ebebed;
    --danger-color: #bf0603;
    --danger-color-lighter: #ffe0e0;
}
button {
    border-radius: 8px;
    padding: 12px;
    display: block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    &.btn-primary {
        background: var(--primary-color);
        color: white;
        border: none;
    }
    &.btn-primary:hover {
        background: var(--primary-color-darker);
        transition: 0.5s;
    }
    &.btn-secondary {
        background: white;
        color: var(--medium-gray-color);
        border: 1px solid var(--medium-gray-color);
    }
    &.btn-secondary:hover {
        background: var(--lighter-gray-color);
        transition: 0.5s;
    }
}
p {
    margin: 0px;
    &.text-primary {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        color: var(--dark-gray-color);
    }
    &.text-secondary {
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        color: var(--medium-gray-color);
    }
    &.text-minor {
        font-size: 12px;
        font-weight: normal;
        line-height: 12px;
        color: var(--light-gray-color);
    }
}
a {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    text-decoration-line: none;
}
.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap-input, .wrap-select {
    width: 100%;
    border: 1px solid var(--light-gray-color);
    border-radius: 8px;
}
.label-input, .label-select {
    font-size: 10px;
    color: var(--light-gray-color);
    line-height: 1.2;
    text-transform: uppercase;
    padding: 10px 0 2px 24px;
    font-weight: 600;
}
.input-text {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: var(--dark-gray-color);
    line-height: 1.2;
    padding: 0 26px 6px 26px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
input.input-text {
    height: 36px;
}
textarea.input-text {
    height: 120px;
}
select.input-text {
    height: 36px;
    appearance: none;
}
.error-msg {
    font-size: 12px;
    color: var(--danger-color);
    margin-left: 26px;
}
.wrap-input:has(.error-input) {
    border-color: var(--danger-color);
}
.label-input:has(+ .error-input) {
    color: var(--danger-color);
}
.align-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.display-flex {
    display: flex;
}
.content {
    padding: 20px 20px 20px 320px;
    height: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr {
    border-bottom: 1px solid var(--light-gray-color);
    &:last-child {
        border-bottom: none;
    }
}
.content-main {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.content-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pagination {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.page-item {
    border: 1px solid var(--light-gray-color);
    border-radius: 8px;
    padding: 4px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    &.selected {
        background: var(--primary-color);
        color: white;
        cursor: default;
    }
    &.disabled {
        color: var(--light-gray-color);
        cursor: default;
    }
}