<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/contentLayout}"
      layout:fragment="content">
<div style="height: 100%">
    <div class="content-top">
        <div>
            <div class="search-bar">
                <div class="material-icons-outlined" style="padding: 8px; color: var(--light-gray-color);">search</div>
                <input class="search-input" type="text" name="keyword">
                <button type="button" class="btn-search" th:onclick="searchChatRooms()">Search</button>
            </div>
        </div>
    </div>
    <div id="empty-content" class="empty-content">
        <p class="text-primary">Nothing found.</p>
        <p class="text-secondary">Get started by creating a chat room.</p>
        <button type="button" class="btn-primary" th:onclick="|location.href='@{/chat/room/new}'|">
            Create new room
        </button>
    </div>
    <div id="content-main" class="content-main discover" hidden>
        <div id="chatrooms"></div>
        <div class="floating-btn">
            <button type="button" class="btn-primary" th:onclick="|location.href='@{/chat/room/new}'|">
                Create new room
            </button>
        </div>
    </div>
    <div hidden>
        <div id="room-dom" class="wrap-list discover">
            <p class="list-title"></p>
            <p class="list-description"></p>
            <div class="list-user-count">
                <div class="material-icons-outlined"
                     style="font-size: 20px; color: var(--medium-gray-color);">
                    group
                </div>
                <p></p>
            </div>
            <button class="btn-join" type="button" th:onclick="joinRoom(this)" hidden>Join</button>
            <button class="btn-open" type="button" th:onclick="openRoom(this)" hidden>Open</button>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let discoverHasNext = true;
    let discoverFetching = false;
    let isSearched = false;
    document.addEventListener("DOMContentLoaded", function() {
        loadDiscoverList();
    });
    const discoverObserver = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (discoverFetching || !discoverHasNext) {
                return;
            }
            if (entry.isIntersecting) {
                loadDiscoverList();
            }
        });
    });
</script>
</html>