<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/contentLayout}"
      layout:fragment="content">
<div>
    <div class="content-top">
        <form th:method="get" th:action="@{/chat/discover}">
            <div class="search-bar">
                <div class="material-icons-outlined" style="padding: 8px; color: var(--light-gray-color);">search</div>
                <input class="search-input" type="text" name="keyword" th:value="${keyword}">
                <button type="submit" class="btn-search">Search</button>
            </div>
        </form>
    </div>
    <div th:if="${#lists.isEmpty(rooms)}" class="empty-content">
        <p class="text-primary">Nothing found.</p>
        <p class="text-secondary">Get started by creating a chat room.</p>
        <button type="button" class="btn-primary" th:onclick="|location.href='@{/chat/room/new}'|">
            Create new room
        </button>
    </div>
    <div th:unless="${#lists.isEmpty(rooms)}" class="content-main">
        <table>
            <tbody>
            <tr th:each="row : ${rooms}">
                <td>
                    <div class="wrap-list">
                        <p class="list-title" th:text="${row.title}"></p>
                        <p class="list-description" th:text="${row.description}"></p>
                        <div class="list-user-count">
                            <div class="material-icons-outlined"
                                 style="font-size: 20px; color: var(--medium-gray-color);">
                                group
                            </div>
                            <p th:text="${row.userCount} + ' / ' + ${row.maxUser}"></p>
                        </div>
                        <button type="button" th:data-id="${row.id}" th:onclick="joinRoom(this)">Join</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="content-bottom">
            <div class="pagination" th:with="
            pageNumber = ${rooms.pageable.pageNumber},
            pageSize = ${rooms.pageable.pageSize},
            totalPages = ${rooms.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = ${tempEndPage < totalPages ? tempEndPage : totalPages},
            keyword = ${keyword}">
                <div th:if="${rooms.first}" class="page-item disabled">
                    <p>&lt;</p>
                </div>
                <div th:unless="${rooms.first}" class="page-item"
                     th:onclick="|location.href='@{/chat/discover(page=${pageNumber - 1},keyword=${keyword})}'|">
                    <p>&lt;</p>
                </div>
                <div th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <div th:if="${page == pageNumber + 1}" class="page-item selected">
                        <p th:text="${page}"></p>
                    </div>
                    <div th:unless="${page == pageNumber + 1}" class="page-item"
                         th:onclick="|location.href='@{/chat/discover(page=${page - 1},keyword=${keyword})}'|">
                        <p th:text="${page}"></p>
                    </div>
                </div>
                <div th:if="${rooms.last}" class="page-item disabled">
                    <p>&gt;</p>
                </div>
                <div th:unless="${rooms.last}" class="page-item"
                     th:onclick="|location.href='@{/chat/discover(page=${pageNumber + 1},keyword=${keyword})}'|">
                    <p>&gt;</p>
                </div>
            </div>
            <div class="right-side">
                <button type="button" class="btn-primary" th:onclick="|location.href='@{/chat/room/new}'|">
                    Create new room
                </button>
            </div>
        </div>
    </div>
</div>
</html>