<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/contentLayout}"
      layout:fragment="content">
<div style="height: 100%;">
    <div id="empty-content" class="empty-content">
        <p class="text-primary">Nothing found.</p>
        <p class="text-secondary">We'll let you know when something happens.</p>
        <button type="button" class="btn-primary" th:onclick="|location.href='@{/chat/rooms}'|">
            Go to chat room list
        </button>
    </div>
    <div id="content-main" class="content-main" hidden>
        <div id="notifications"></div>
    </div>
    <div hidden>
        <div id="noti-dom" class="wrap-list notification fade-out">
            <div class="noti-top">
                <div class="room-title">
                    <div class="material-icons-outlined" style="font-size: 20px; color: var(--medium-gray-color);">
                        chat
                    </div>
                    <p></p>
                </div>
                <div class="noti-actions">
                    <div class="is-read" th:onclick="updateReadStatus(this)"></div>
                    <div class="delete-noti material-icons-outlined" style="color: var(--medium-gray-color);"
                         th:onclick="deleteNotification(this)">
                        close
                    </div>
                </div>
            </div>
            <div class="noti-message">
                <div class="list-left">
                    <p class="sender-nickname"></p>
                    <p class="message-content"></p>
                </div>
                <div class="list-right">
                    <p class="sent-at"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let notiHasNext = true;
    let notiFetching = false;
    window.addEventListener('DOMContentLoaded', function() {
        loadNotifications(10);
    });
    const notiObserver = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (notiFetching || !notiHasNext) {
                return;
            }
            if (entry.isIntersecting) {
                loadNotifications(10);
            }
        });
    });
</script>
</html>