<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/contentLayout}"
      layout:fragment="content">
<div>
    <div th:if="${notifications.totalElements == 0}" class="empty-content">
        <p class="text-primary">Nothing found.</p>
        <p class="text-secondary">We'll let you know when something happens.</p>
        <button type="button" class="btn-primary" th:onclick="|location.href='@{/chat/rooms}'|">
            Go to chat room list
        </button>
    </div>
    <div th:unless="${notifications.totalElements == 0}" class="content-main">
        <table>
            <tbody>
            <tr th:each="row : ${notifications}">
                <td>
                    <div class="wrap-list notification">
                        <p class="list-title" th:text="${row.roomTitle}"></p>
                        <p class="list-sender" th:text="${row.senderNickname}"></p>
                        <p class="list-content" th:text="${row.content}"></p>
                        <p class="list-sentAt" th:text="${row.sentAt}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="content-bottom">
            <div class="pagination" th:with="
            pageNumber = ${notifications.pageable.pageNumber},
            pageSize = ${notifications.pageable.pageSize},
            totalPages = ${notifications.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = ${tempEndPage < totalPages ? tempEndPage : totalPages}">
                <div th:if="${notifications.first}" class="page-item disabled">
                    <p>&lt;</p>
                </div>
                <div th:unless="${notifications.first}" class="page-item"
                     th:onclick="|location.href='@{/notification(page=${pageNumber - 1})}'|">
                    <p>&lt;</p>
                </div>
                <div th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <div th:if="${page == pageNumber + 1}" class="page-item selected">
                        <p th:text="${page}"></p>
                    </div>
                    <div th:unless="${page == pageNumber + 1}" class="page-item"
                         th:onclick="|location.href='@{/notification(page=${page - 1})}'|">
                        <p th:text="${page}"></p>
                    </div>
                </div>
                <div th:if="${notifications.last}" class="page-item disabled">
                    <p>&gt;</p>
                </div>
                <div th:unless="${notifications.last}" class="page-item"
                     th:onclick="|location.href='@{/notification(page=${pageNumber + 1})}'|">
                    <p>&gt;</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>